{% extends "base.html" %}
{% load static %}
{% block title %}My Profile{% endblock %}
{% block content %}
    <style>
        .page-wrapper {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .profile-layout {
            flex: 1;
            display: flex;
            background-color: #fff;
        }

        body {
            color: #000000;
        }

        .profile-menu li {
            padding: 12px 0;
            font-size: 18px;
            transition: background 0.3s;
        }

        .profile-menu li a {
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
        }

        .profile-menu li:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
            padding-left: 10px;
        }

        .profile-menu li.active {
            background-color: rgba(255, 255, 255, 0.2);
            font-weight: bold;
            border-radius: 8px;
            padding-left: 10px;
        }

        .profile-main {
            flex: 1;
            padding: 40px;
        }

        .profile-main h2 {
            font-size: 28px;
            margin-bottom: 30px;
        }

        .profile-info {
            margin-top: 50px;
        }

        .profile-info p {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .profile-info label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .profile-info input {
            width: 100%;
            padding: 10px 15px;
            border-radius: 8px;
            border: none;
            background-color: #f8c8d1;
            margin-bottom: 20px;
            font-family: 'Cormorant Unicase';
            font-size: 16px;
        }

        .save-btn {
            background-color: #e2809d;
            color: white;
            padding: 12px 40px;
            border-radius: 10px;
            border: none;
            font-family: 'Cormorant Unicase';
            font-size: 18px;
            box-shadow: 0 4px 12px rgba(214, 102, 143, 0.4);
            transition: all 0.3s;
            cursor: pointer;
            display: inline-block;
        }

        .save-btn:hover {
            background-color: #d26c8a;
        }

        .edit-btn {
            position: absolute;
            bottom: 150px;
            height: 50px;
            right: 30px;
            padding: 10px 20px;
            border: none;
            background: #f8a1b5;
            color: white;
            font-family: 'Cormorant Unicase';
            font-size: 16px;
            cursor: pointer;
            font-weight: 600;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 12px rgba(214, 102, 143, 0.4);
            z-index: 1000;
        }

        .edit-btn:hover {
            background: #c94f7c;
        }

        .address-row {
            display: flex;
            gap: 10px;
            justify-content: space-between;
        }

        .address-row > div,
        .address-row .form-group {
            flex: 1;
        }
    </style>

    <div class="page-wrapper">
    <div class="profile-layout">
        {% block sidebar %}{% include "accounts/profile_sidebar.html" %}{% endblock %}

        <div class="profile-main">
            <h1>Profile</h1>
            <button class="edit-btn" id="edit-btn" onclick="toggleEdit()">
                <i style="padding-right: 5px;" class="fas fa-pencil-alt"></i>
            </button>

            <div id="displayFields">
                <div class="profile-info">
                    <label for="name">Username:</label>
                    <input type="text" id="name" name="name" value="{{ user.username }}" readonly
                           class="editable-field">
                    <div class="address-row">
                        <div>
                            <label for="name">First name:</label>
                            <input type="text" id="firstname" name="firstname" value="{{ user.first_name }}" readonly
                                   class="editable-field">
                        </div>
                        <div>
                            <label for="name">Last name:</label>
                            <input type="text" id="lastname" name="lastname" value="{{ user.last_name }}" readonly
                                   class="editable-field">
                        </div>
                    </div>
                    <div class="address-row">
                        <div>
                            <label for="email">Email address:</label>
                            <input type="email" id="email" name="email" value="{{ user.email }}" readonly
                                   class="editable-field">
                        </div>
                        <div>
                            <label for="phone">Phone:</label>
                            <input type="text" id="phone" name="phone" value="{{ user.phone }}" readonly
                                   class="editable-field">
                        </div>
                    </div>
                    <div class="address-row">
                        <div>
                            <label for="street">Street:</label>
                            <input type="text" id="street" name="street" value="{{ user.street }}" readonly
                                   class="editable-field">
                        </div>
                        <div>
                            <label for="building">Building:</label>
                            <input type="text" id="building" name="building" value="{{ user.building }}" readonly
                                   class="editable-field">
                        </div>
                        <div>
                            <label for="apartment">Apartment:</label>
                            <input type="text" id="apartment" name="apartment" value="{{ user.apartment }}" readonly
                                   class="editable-field">
                        </div>
                    </div>
                </div>
            </div>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="editFields">
                    <div class="profile-info">
                        {{ form.username.label_tag }}
                        {{ form.username }}

                        <div class="address-row">
                            <div class="form-group">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="address-row">
                            <div>
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div>
                                {{ form.phone.label_tag }}
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="address-row">
                            <div class="form-group">
                                {{ form.street.label_tag }}
                                {{ form.street }}
                            </div>
                            <div class="form-group">
                                {{ form.building.label_tag }}
                                {{ form.building }}
                            </div>
                            <div class="form-group">
                                {{ form.apartment.label_tag }}
                                {{ form.apartment }}
                            </div>
                        </div>

                        {{ form.photo.label_tag }}
                        {{ form.photo }}
                    </div>
                    <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
                        <button type="submit" class="save-btn">
                            <i class="fa-solid fa-floppy-disk"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <script>
        function toggleEdit() {
            const formSection = document.getElementById('editFields');
            const displaySection = document.getElementById('displayFields');
            const editBtn = document.getElementById('edit-btn');

            const isHidden = formSection.style.display === 'none';
            formSection.style.display = isHidden ? 'block' : 'none';
            displaySection.style.display = isHidden ? 'none' : 'block';
            editBtn.innerHTML = isHidden
                ? '<i style="padding-right: 5px;" class="fa-solid fa-xmark"></i>'
                : '<i style="padding-right: 5px;" class="fas fa-pencil-alt"></i>';
        }

        // Set default state
        window.onload = function () {
            document.getElementById('editFields').style.display = 'none';
        }
    </script>
{% endblock %}