{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <style>
        body {
            color: black
        }
    </style>
    <div class="w-100 bg-white p-4">
        <h2 class="text-center">Admin Dashboard</h2>

        <div class="row text-center my-4">
            <div class="col-md-4">
                <a href="{% url 'admin_users' %}" class="text-decoration-none">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5>Total Users</h5>
                            <h3>{{ total_users }}</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'admin_products' %}" class="text-decoration-none">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h5>Total Products</h5>
                            <h3>{{ total_products }}</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'admin_orders' %}" class="text-decoration-none">
                    <div class="card bg-warning text-white">
                        <div class="card-body">
                            <h5>Total Orders</h5>
                            <h3>{{ total_orders }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="text-end mb-3">
            <a href="{% url 'product_create' %}" class="btn btn-success">+ Add New Product</a>
        </div>
        {% if current_tab == 'users' %}
            {% include "admin_panel/users.html" %}
        {% elif current_tab == 'products' %}
            {% include "admin_panel/products.html" %}
        {% elif current_tab == 'orders' %}
            {% include "admin_panel/orders.html" %}
        {% else %}
            {% include "admin_panel/orders.html" %}
        {% endif %}
    </div>
{% endblock %}