{% extends "base.html" %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/order_complete.css' %}">

<div class="container py-5 text-center">
    <h2 style="font-family: 'Cormorant Unicase'; color: #EB889E;">Thank You for Your Order!</h2>
    <p style="font-family: 'Cormorant Unicase';">Your order has been successfully placed. We’ll contact you soon with delivery details.</p>
    <a href="{% url 'product_list' %}" class="btn btn-primary mt-4">Continue Shopping</a>
</div>
{% endblock %}